@import "tailwindcss";
body {
  background: #000000;
  font-family: "Inter", sans-serif;
}
.bg-slide {

  background-size: 0% 100%;
  background-position: left;
  transition: background-size 0.4s ease-in-out;
}

.bg-slide-hover:hover {
  background-size: 120% 120%;
  padding: 10px 10px 10px 10px;
}
